# Python 
__pycache__/
*.py[cod]
*$py.class
.venv/
venv/
env/

# Flask & Databases
instance/
*.db
*.sqlite3

# Environment Variables (CRITICAL for AI Keys)
.env

# VS Code & OS
.vscode/
.DS_Store
Thumbs.db